<%= 'Add a new question here:' %>

<%= form_for @question do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <% if @question.errors[:title] %>
     <p><small><%= @question.errors[:title].join(", ") %>
   <% end %>
</p>

<p>
  <%=f.label :description %>
  <%= f.text_area :description %>
  <% if @question.errors[:description] %>
     <p><small><%= @question.errors[:description].join(", ") %>
   <% end %>
</p>

  <%= f.submit 'Submit Question' %>

<% end %>
