<h1><%= @question.title %></h1>

<ul>
  <%= @question.description %>
</ul>

<h4>Add New Comments:</h4>

<%= render 'comments/answerform' %>


<h4>Comments</h4>
<% @comments.each do |comment| %>
  <li><%= comment.comment %></li>
<% end %>

</br>
<%= link_to 'Back', questions_path %>
